<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>THEIA</title>

		<!-- Bootstrap Core CSS -->
		<!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->

		<!-- Customizable CSS -->
		<!-- <link href="assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
		<link href="assets/css/green.css" rel="stylesheet" title="Color">
		<link href="assets/css/owl.carousel.css" rel="stylesheet">
		<link href="assets/css/owl.transitions.css" rel="stylesheet">
		<link href="assets/css/animate.min.css" rel="stylesheet"> -->

		<!-- Fonts -->
		<!-- <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet"> -->

		<!-- Icons/Glyphs -->
		<link href="assets/fonts/fontello.css" rel="stylesheet">

		<!-- Favicon -->
			<link rel="shortcut icon" href="assets/images/theiawordtop.svg">

		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="top">

		<!-- ============================================================= HEADER ============================================================= -->

		<header>
			<div class="navbar">

				<div class="navbar-header">
					<div class="container">

						<ul class="info pull-left">
							<li><a href="mailto:info@theiapax.com"><i class="icon-mail-1 contact"></i> info@theiapax.com</a></li>
							<li><i class="icon-mobile contact"></i> +44 (759) 552 71 49</li>
						</ul><!-- /.info -->

						<ul class="social pull-right">
							<li><a href="#"><i class="icon-s-facebook"></i></a></li>
							<li><a href="#"><i class="icon-s-gplus"></i></a></li>
							<li><a href="#"><i class="icon-s-twitter"></i></a></li>
							<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
							<li><a href="#"><i class="icon-s-behance"></i></a></li>
							<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
						</ul><!-- /.social -->

						<!-- ============================================================= LOGO MOBILE ============================================================= -->

						<a class="navbar-brand" href="#"><img src="assets/images/theiawordtop.svg" class="logo" alt=""></a>

						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

					</div><!-- /.container -->
				</div><!-- /.navbar-header -->

				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">

							<!-- ============================================================= LOGO ============================================================= -->

									<a class="navbar-brand scroll-to" href="#top"><img src="assets/images/theiawordtop.svg" class="logo" alt=""></a>

							<!-- ============================================================= LOGO : END ============================================================= -->


							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

							<ul class="nav navbar-nav pull-right">

								<li><a href="#arepa" class="scroll-to" data-anchor-offset="0">MarketPlace</a></li>
								<li><a href="#pizza" class="scroll-to" data-anchor-offset="0">Mission</a></li>
								<li><a href="#pho" class="scroll-to" data-anchor-offset="0">Vision</a></li>
								<li><a href="#chorizo" class="scroll-to" data-anchor-offset="0">Benefits</a></li>
								<li><a href="#chilli" class="scroll-to" data-anchor-offset="0">FAQ</a></li>
								<li><a href="#sal" class="scroll-to" data-anchor-offset="0">Science & Stats</a></li>
								<li><a href="#pasta" class="scroll-to" data-anchor-offset="0">Find Us</a></li>

							</ul><!-- /.nav -->

							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>

		<!-- ============================================================= HEADER : END ============================================================= -->


		<!-- ============================================================= MAIN ============================================================= -->

		<main>

			<!-- ============================================================= SECTION – HERO ============================================================= -->

			<section id="hero">
				<div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

					<div class="item" style="background-image: url(assets/images/art/tree.jpg);">
						<div class="container">
							<div class="caption vertical-center text-center">

								<h1 class="fadeInDown-1 light-color">OK listen up, there's been a change of plans</h1>
								<p class="fadeInDown-2 light-color">Travelling involves adventure, excitment and uncertainty. <br>If plans change, we'll help you get cash for your airline ticket.</p>
								<div class="fadeInDown-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

					<div class="item" style="background-image: url(assets/images/art/windmill.jpg);">
						<div class="container">
							<div class="caption vertical-center text-right">

								<h1 class="fadeInLeft-1 light-color">Plans Change, We Get It.</h1>
								<p class="fadeInLeft-2 light-color">No need to explain what happened. <br>Whatever the reason, we'll help you get the maximium possible cash for your ticket.</p>
								<div class="fadeInLeft-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

					<div class="item" style="background-image: url(assets/images/art/air4.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">

								<h1 class="fadeInRight-1 dark-bg light-color"><span>Travel Cheap <br>Travel Far & Often</span></h1>
								<p class="fadeInRight-2 light-color">People book flights and then don't fly. Want that ticket at a discount to the current price?</p>
								<div class="fadeInRight-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

					<div class="item" style="background-image: url(assets/images/art/piedimont.jpg);">
						<div class="container">
							<div class="caption vertical-top text-center">

								<h1 class="fadeInDown-1 light-color">This way to the <br>Digital Ecosystem</h1>
								<p class="fadeInDown-2 light-color">Previously owned airline tickets are now transferable here!</p>
								<div class="fadeInDown-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</section>

			<!-- ============================================================= SECTION – HERO : END ============================================================= -->


			<!-- ============================================================= SECTION – MARKETPLACE ============================================================= -->

			<section id="arepa">
				<div class="container inner">

					<div class="row">

						<div class="col-sm-3 inner-right-xs text-right">
							<figure><a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/ufowhite.png" alt=""></a></figure>
						</div><!-- /.col -->

						<div class="col-sm-8 inner-top-xs inner-left-xs">
							<h2>Booking economy no longer means booking with restrictions</h2>
							<p>Theia is a marketplace for previously issued airline tickets.</p>
							<p>We connect price-sensitive air passengers and facilitate the efficient reassignment of tickets issued by participating airlines.</p>
							<a href="#modal-product01" class="txt-btn" data-toggle="modal">Check out how Theia works</a>
						</div><!-- /.col -->

					</div><!-- /.row -->

					<div class="row inner-top-md">

						<div class="col-sm-3 col-sm-push-8 inner-left-xs">
							<figure><a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/skydiving2.png" alt=""></a></figure>
						</div><!-- /.col -->

						<div class="col-sm-8 col-sm-pull-3 inner-top-xs inner-right-xs">
							<h2>Can't or don't want to fly on that particular booking?</h2>
							<p>Booked passengers that are not able to travel due to unforeseen events, or simply decide not to travel, can sell their tickets on the platform, recovering a significant proportion of the value paid for the original ticket and airline fees, in cash.</p>
							<a href="#modal-product01" class="txt-btn" data-toggle="modal">Check out how Theia works</a>
						</div><!-- /.col -->

					</div><!-- /.row -->

					<div class="row inner-top-md">

						<div class="col-sm-3 inner-right-xs text-right">
							<figure><a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/piggydollar.png" alt=""></a></figure>
						</div><!-- /.col -->

						<div class="col-sm-8 inner-top-xs inner-left-xs">
							<h2>Looking for cheaper airline tickets?</h2>
							<p>Passengers using the platform are able to buy previously issued airline tickets at a discount to the current airfare.</p>
							<p>Because they buy pre-owned tickets, they buy them cheaper, always.</p>
							<a href="#modal-product01" class="txt-btn" data-toggle="modal">Check out how Theia works</a>
						</div><!-- /.col -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – MARKETPLACE : END ============================================================= -->


			<!-- ============================================================= SECTION – MISSION ============================================================= -->

			<section id="pizza" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/air3.jpg);">
				<div class="container inner">

					<div class="row">
						<div class="col-md-8 col-sm-9">
							<header>
								<h1>Generating savings and extra cash for air passengers</h1>
								<p>We are here to connect airline passengers from around the world and facilitate seamless and cost-effective transferability of previously issued airline tickets.</p>
						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – MISSION : END ============================================================= -->


			<!-- ============================================================= SECTION – VISION ============================================================= -->

			<section id="pho" class="inner-bottom">
				<div class="container inner light-bg">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>10th freedom of the air: <br>Passenger Freedom</h1>
								<p>Our vision is a world where free efficient markets allow passengers to choose what they want to do with their airline tickets. Theia will help them do exactly that. <br> <br>We will enable a world with more, and more frequent, happy travellers.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – VISION : END ============================================================= -->


			<!-- ============================================================= SECTION – BENEFITS ============================================================= -->

			<section id="chorizo">
				<div class="container inner">

					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Creating Win-Win Situations</h1>
								<p>An exchange platform created for everyone.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->

					<div class="row inner-top-sm">
						<div class="col-xs-12">
							<div class="tabs tabs-reasons tabs-circle-top tab-container">

								<ul class="etabs text-center">
									<li class="tab"><a href="#tab-1"><div>T</div>Travellers</a></li>
									<li class="tab"><a href="#tab-2"><div>H</div>Hunters</a></li>
									<li class="tab"><a href="#tab-3"><div>E</div>Entrepreneurs</a></li>
									<li class="tab"><a href="#tab-4"><div>I</div>Industry</a></li>
									<li class="tab"><a href="#tab-5"><div>A</div>Airlines</a></li>
								</ul><!-- /.etabs -->

								<div class="panel-container">

									<div class="tab-content" id="tab-1">
										<div class="row">

									<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
										<figure><img src="assets/images/art/firstscreen.png" alt=""></figure>
											</div><!-- /.col -->

											<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
												<h3> </h3>
												<h3>Original passenger</h3>
												<p>Changing an economy class ticket, costs between 39% and 290% more than the ticket itself. This makes booking stressful. <br> <br>You want to book in advance and get a good price, but things may change down the line and you may not be able to fly. <br> <br>Don't worry, now you can book a flight well in advance with your trusted airline, lock in a great fare and if things do change, sell your ticket here on Theia.</p>
											</div><!-- /.col -->

											<div class="col-md-3 col-sm-6 inner-top-xs">
												<h3> </h3>
												<h3>Surrogate passenger</h3>
												<p>In the digital ecosystem we live in, you can buy and sell second-hand items like cars, guitars, furniture, etc. <br> <br>Well, here on Theia you can find second-hand airline tickets that are sold at a discount to the current airfare. <br> <br>Are you a flexible traveller? <br>Go on, find out your next destination and travel away... at a fraction of the price.</p>
											</div><!-- /.col -->

										</div><!-- /.row -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-2">
										<div class="row">

											<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
												<figure><img src="assets/images/art/peddler.png" alt=""></figure>
											</div><!-- /.col -->

											<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
												<h3>Yeap, that's you</h3>
												<p>The one hunting for gigs, events, unseen lansdcapes, warmer saturdays, higher mountains, louder music or peaceful shores. <br>How frustrating is it that you find a great deal on some event or location and then the airfare is out of reach? <br>Stop that! Theia will give you access to the cheapest airfare to wherever you're going.</p>
											</div><!-- /.col -->

										</div><!-- /.row -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-3">
										<div class="row">

											<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
												<figure><img src="assets/images/art/idea.png" alt=""></figure>
											</div><!-- /.col -->

											<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
												<h3>Smoothing your road to growth</h3>
												<p>You're running your own business, you're always on a budget, and every time a sales pitch or a meeting out of town is postponed or cancelled, well, it hurts. <br>Now you can recover a significant part of the value of the ticket without having to pay for premium or business class. <br>We give you that optionality here on Theia... with your same economy ticket.</p>
											</div><!-- /.col -->

										</div><!-- /.row -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-4">
										<div class="row">

											<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
												<figure><img src="assets/images/art/shopping.jpg" alt=""></figure>
											</div><!-- /.col -->

											<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
												<h3>Together we stand</h3>
												<p>Since every penny not paid to fly will be used to eat, drink, dance, jump, sit, dive, view, drive, or simply sleep better, there is a plethora of industries that will benefit from passengers saving money on the exchange; like hospitality, car rentals, restaurants, events, and others.</p>
											</div><!-- /.col -->

										</div><!-- /.row -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-5">
										<div class="row">
											<div class="col-md-8 col-sm-9 center-block text-center">
												<h3>Engage loyal passengers that are happy to book with you</h3>
												<p>Studies indicate that advance ticket selling with partial refunds would increase an airline’s total revenue, compared to selling non-refundable tickets. <br>The optionality created by ticket transferability on Theia would induce early demand for tickets, allow earlier revenue collection and improve visibility on load factors. <br>Airline's expected cashflow per ticket sold increases by 8%, via ancillary revenue.</p>
											</div><!-- /.col -->
										</div><!-- /.row -->
									</div><!-- /.tab-content -->

								</div><!-- /.panel-container -->

							</div><!-- /.tabs -->
						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – BENEFITS : END ============================================================= -->


			<!-- ============================================================= SECTION – FAQ ============================================================= -->

			<section id="chilli" class="inner-bottom">
				<div class="container inner light-bg">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Got any questions?</h1>
								<p>Let us show you the most common questions about transferability and the service provided by the platform. If your question is not here, or not answered to your satisfaction, feel free to get in touch.</p>
							</header>
							<a href="#modal-faq" class="btn btn-large" data-toggle="modal">Q&A</a>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – FAQ : END ============================================================= -->


			<!-- ============================================================= SECTION – SCIENCE & STATS ============================================================= -->

			<section id="sal" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
				<div class="container inner">

					<div class="row">
						<div class="col-md-8 col-sm-9">
							<header>
								<h1>Let data guide your decision</h1>
								<p>Theia was born at the junction of innovative multisided markets and slow progress in the airline industry. <br>Want to know why the status quo is no longer acceptable?</p>
								<div class="fadeInDown-3">
									<a href="#modal-ss" class="btn btn-large" data-toggle="modal">Show me</a>
								</div><!-- /.fadeIn -->

						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – SCIENCE & STATS : END ============================================================= -->


			<!-- ============================================================= SECTION – FIND US ============================================================= -->

						<section id="pasta" class="inner-bottom">
							<div class="container inner light-bg">
								<div class="row">
									<div class="col-md-8 col-sm-9 center-block text-center">
										<header>
											<h1>Let us know what you think... or if you want to work with us</h1>
											<p>We built Theia for you, so if you think there's something missing let us know, or just stop by and say hello.</p>
										</header>
										<a href="#modal-contact01" class="btn btn-large" data-toggle="modal">Get in touch</a>
									</div><!-- /.col -->
								</div><!-- /.row -->
							</div><!-- /.container -->
						</section>

			<!-- ============================================================= SECTION – FIND US : END ============================================================= -->


			<!-- ============================================================= MODALS ============================================================= -->


			<!-- ============================================================= MODAL PRODUCT01 ============================================================= -->

			<div class="modal fade" id="modal-product01" tabindex="-1" role="dialog" aria-labelledby="modal-product01" aria-hidden="true">
				<div class="modal-dialog modal-full">
					<div class="modal-content dark-bg img-bg img-bg-softer no-modal-header no-modal-footer" style="background-image: url(assets/images/art/work14-lg.jpg);">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-product01">Product information</h4>
						</div><!-- /.modal-header -->

						<!-- ============================================================= MODAL CONTENT ============================================================= -->

						<div class="modal-body">

							<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

							<section id="portfolio-post">
								<div class="container inner-top-sm inner-bottom">

									<div class="row">
										<div class="col-sm-12">
											<div class="video-container">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/tVHVVrM0kMk" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
											</div>
										</div><!-- /.col -->
									</div><!-- /.row -->

									<div class="row inner-top-xs reset-xs">

										<div class="col-sm-7 inner-top-xs inner-right-xs">
											<header>
												<h2>Win-Win</h2>
												<p class="text-normal">Paula paid £237.85 to fly from Bordeaux to Tenerife with Spanish airline Volotea. Now she has to cancel the trip. If Paula decides to fly at some later date, she will have to pay £85.97 in airline fees (36% additional cost). Paula is likely to let the ticket expire (now or later), losing £237.85.</p>
												<p class="text-normal">But she now posts the ticket on Theia and finds Alex, who is willing to pay £239.86 for Paula’s ticket (airfare has gone up to £266.51 since Paula booked it). Paula sells the ticket and recovers 67% of the original ticket and fees, after transaction costs... and Alex bought it at a 10% discount to the current airline price.</p>
												<p class="text-normal">Alex is now the passenger on record and travels like any other passenger. Paula has been refunded so she can spend the money as she wishes, without restrictions. Win-Win</p>
											</header>
										</div><!-- /.col -->

										<div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
											<ul class="item-details">
												<li class="date">24 April 2016</li>
												<li class="categories">Pre-Owned Airline Tickets</li>
												<li class="client">Theia</li>
												<li class="url"><a href="http://www.theiapax.com/">theiapax.com</a></li>
											</ul><!-- /.item-details -->
										</div><!-- /.col -->

									</div><!-- /.row -->

								</div><!-- /.container -->

							</section>

							<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->


							<!-- ============================================================= SECTION – SHARE ============================================================= -->

							<section id="share" class="light-bg">
								<div class="container">

									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Facebook</p>
											<i class="icon-s-facebook"></i>
											<p class="counter">1080</p>
										</a>
									</div><!-- /.col -->

									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Twitter</p>
											<i class="icon-s-twitter"></i>
											<p class="counter">1263</p>
										</a>
									</div><!-- /.col -->

									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Google +</p>
											<i class="icon-s-gplus"></i>
											<p class="counter">963</p>
										</a>
									</div><!-- /.col -->

								</div><!-- /.container -->
							</section>

							<!-- ============================================================= SECTION – SHARE : END ============================================================= -->

						</div><!-- /.modal-body -->

						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- ============================================================= MODAL PRODUCT01 : END ============================================================= -->


			<!-- ============================================================= MODAL FAQ ============================================================= -->

			<div class="modal fade" id="modal-faq" tabindex="-1" role="dialog" aria-labelledby="modal-faq" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-faq">Shoot us a question on the contact section if you can't find the answer here</h4>
						</div><!-- /.modal-header -->

						<!-- ============================================================= MODAL CONTENT ============================================================= -->

						<div class="modal-body">

							<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

							<section id="contact-form">
								<div class="container inner-top-xs inner-bottom">

									<div class="row">
										<div class="col-md-8 col-sm-9 center-block text-center">
											<header>
												<h1>Crystal clear</h1>
											</header>
										</div><!-- /.col -->
									</div><!-- /.row -->

													<h2>How much would I recover when my ticket is sold?</h2>
													<p>The recovery value will depend upon the destination, date, time to departure and demand for your ticket. <br>We will give you an estimated recovery rate, normally higher than 60%, and will try and negotiate the best possible deal so both you and your fellow surrogate traveller achieve the best possible outcome.</p>
													<h2>Would I get more or less than what I paid for the ticket in the first place?</h2>
													<p>Under normal circumstances you will need to sell at a discount to the price originally paid. We will reimburse you 100% of fees applied by your trusted airline and less than 100% of the value of the ticket. Overall, you will be recovering money from a ticket you will no longer use.</p>
													<h2>Is it possible to transfer my ticket to someone else?</h2>
													<p>Some airlines allow transferability of non-refundable tickets, as long as fees and tariff differentials are paid for. Additionally, there are some procedures that the airlines require before transferring a ticket. <br>We will find a buyer and make this process as smooth as possible so you can get your cash and crack on.</p>
													<h2>What if I didn’t buy the ticket but someone else bought it for me to travel?</h2>
													<p>We can still execute the transfer, however we will need to get in touch with the person who paid for the ticket. All refunds and proceeds will go to the person who bought the ticket and not the person named to travel on the ticket (if they are different).</p>
													<h2>Is this for domestic or international flights?</h2>
													<p>Theia works on any flight and destination, as long as your trusted airline has a name change policy in place.</p>
													<h2>Which airlines have a name change policy in place?</h2>
													<p>In Europe, Ryanair, easyJet, Air Berlin, Volotea, Vueling, Norwegian Air, Jet2, Eurowings and others. In the US, Southwest, Frontier and Hawaiian Airlines. <br>This list is expanding as we speak, if your airline is not here don’t assume they wouldn’t work with us, send us an email mentioning your airline and we’ll get an answer for you.</p>
													<h2>Does this work for round trip as well as one-way flights?</h2>
													<p>Theia will match passengers at any stage of the itinerary, even if you have already started the trip and want to stay where you are (like in a movie). As soon as we get clearance from the participating airline, we will take care of the rest.</p>
													<h2>If I’m selling my unused ticket, why do I have to pay additional charges?</h2>
													<p>This is a requirement from your trusted airline, not from us. Your airline requires you to pay any fees applicable to transferring the ticket, and you pay it directly to the airline, not to us. <br>We will recover this amount and give you a full refund on any applicable fees, plus a recovery rate on the value of the ticket you’re selling.</p>
													<h2>How does this not trigger security concerns?</h2>
													<p>Theia complies with security protocols because all passenger information involved is retained and controlled by the participating airline. <br>If a passenger has been blacklisted and is not able to book a ticket with the airline in the first place, they will not be able to get a ticket in the platform.</p>
													<h2>How do I pay for the ticket if I’m buying on Theia?</h2>
													<p>Initially you can pay via PayPal (you are covered by PayPal’s Purchase Protection. Please see PayPal’s User Agreement for details on rights and coverage). <br>We are in the process of adding major credit cards as accepted payment methods.</p>
													<h2>If I buy a ticket on the platform, how do I know I will be able to actually fly?</h2>
													<p>Once we have completed the transfer procedure, your name will be immediately updated on the airline's booking system as the travelling passenger. You will be able to immediately confirm directly on the airline’s website that you are the travelling passenger.</p>
													<h2>If I buy a ticket on the platform from another passenger and then decide not to fly, can I sell the ticket?</h2>
													<p>Of course, it is your ticket and you can do whatever you want with it. Come back to us and we will locate a willing passenger for your ticket and execute the transfer again.</p>
													<h2>Would I get a refund if I buy a ticket on the platform and then I cannot use it?</h2>
													<p>Tickets sold on the platform are normally non-refundable tickets, as specified by participating airlines. We suggest you put the ticket back on the platform and we will find a willing traveller that can buy it from you.</p>
													<h2>Can I buy allocated seats, extra luggage, priority boarding and other services on a ticket bought on Theia?</h2>
													<p>Absolutely. Once the ticket has been transferred to your name, you are a passenger like any other, free to use any ancillary services you may want from participating airlines. <br>Additionally, if the original passenger included any of these services in the ticket, they will be transferred to you as the legal holder of the ticket and travelling passenger.</p>

													</ul><!-- /.contacts -->

												</div><!-- /.col -->

											</div><!-- /.row -->
										</div><!-- /.col -->
									</div><!-- /.row -->

								</div><!-- /.container -->
							</section>

							<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->

						</div><!-- /.modal-body -->

						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- ============================================================= MODAL FAQ : END ============================================================= -->


			<!-- ============================================================= MODAL S&S ============================================================= -->

			<div class="modal fade" id="modal-ss" tabindex="-1" role="dialog" aria-labelledby="modal-ss" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-ss">It takes time to build reliable data, please come back later</h4>
						</div><!-- /.modal-header -->

						<!-- ============================================================= MODAL CONTENT ============================================================= -->

						<div class="modal-body">

							<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

							<section id="contact-form">
								<div class="container inner-top-xs inner-bottom">

									<div class="row">
										<div class="col-md-8 col-sm-9 center-block text-center">
											<header>
												<h1>Hard hat required. <br>This area is under construction</h1>
											</header>
										</div><!-- /.col -->
									</div><!-- /.row -->

													</ul><!-- /.contacts -->

												</div><!-- /.col -->

											</div><!-- /.row -->
										</div><!-- /.col -->
									</div><!-- /.row -->

								</div><!-- /.container -->
							</section>

							<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->

						</div><!-- /.modal-body -->

						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- ============================================================= MODAL S&S : END ============================================================= -->


			<!-- ============================================================= MODAL CONTACT01 ============================================================= -->

			<div class="modal fade" id="modal-contact01" tabindex="-1" role="dialog" aria-labelledby="modal-contact01" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-contact01">We're here</h4>
						</div><!-- /.modal-header -->

						<!-- ============================================================= MODAL CONTENT ============================================================= -->

						<div class="modal-body">

							<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

							<section id="contact-form">
								<div class="container inner-top-xs inner-bottom">

									<div class="row">
										<div class="col-md-8 col-sm-9 center-block text-center">
											<header>
												<h1>Get in touch</h1>
												<p>Don't be a stranger</p>
											</header>
										</div><!-- /.col -->
									</div><!-- /.row -->

									<div class="row">
										<div class="col-sm-12">
											<div class="row">

												<div class="col-sm-6 outer-top-md inner-right-sm">

													<h2>Leave a Message</h2>

													<form id="contactform" class="forms" action="contact.php" method="post">

														<div class="row">
															<div class="col-sm-6">
																<input type="text" name="name" class="form-control" placeholder="Name (Required)">
															</div><!-- /.col -->
														</div><!-- /.row -->

														<div class="row">
															<div class="col-sm-6">
																<input type="email" name="email" class="form-control" placeholder="Email (Required)">
															</div><!-- /.col -->
														</div><!-- /.row -->

														<div class="row">
															<div class="col-sm-6">
																<input type="text" name="subject" class="form-control" placeholder="Subject">
															</div><!-- /.col -->
														</div><!-- /.row -->

														<div class="row">
															<div class="col-sm-12">
																<textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
															</div><!-- /.col -->
														</div><!-- /.row -->

														<button type="submit" class="btn btn-default btn-submit">Submit message</button>

													</form>

													<div id="response"></div>

												</div><!-- ./col -->

												<div class="col-sm-6 outer-top-md inner-left-sm border-left">

													<h2>Contacts</h2>
													<p>Rome was not built in a day, so we keep working to improve your travelling options and experience. <br>If you have something in mind, let us know.</p>

													<h3>THEIA (Member of Arqueopolis Ltd)</h3>
													<ul class="contacts">
														<li><i class="icon-location contact"></i> 46 Rosemont Road, London, NW3 6NE, United Kingdom</li>
														<li><i class="icon-mobile contact"></i> +44 (759) 552 71 49</li>
														<li><a href="mailto:info@theiapax.com"><i class="icon-mail-1 contact"></i> info@theiapax.com</a></li>
													</ul><!-- /.contacts -->

													<div class="social-network">
														<h3>Social</h3>
														<ul class="social">
															<li><a href="#"><i class="icon-s-facebook"></i></a></li>
															<li><a href="#"><i class="icon-s-gplus"></i></a></li>
															<li><a href="#"><i class="icon-s-twitter"></i></a></li>
															<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
															<li><a href="#"><i class="icon-s-behance"></i></a></li>
															<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
														</ul><!-- /.social -->
													</div><!-- /.social-network -->

												</div><!-- /.col -->

											</div><!-- /.row -->
										</div><!-- /.col -->
									</div><!-- /.row -->

								</div><!-- /.container -->
							</section>

							<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->


						</div><!-- /.modal-body -->

						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- ============================================================= MODAL CONTACT01 : END ============================================================= -->


			<!-- ============================================================= MODALS : END ============================================================= -->

		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->


		<!-- ============================================================= FOOTER ============================================================= -->

		<footer class="dark-bg">
			<div class="container inner">
				<div class="row">

					<div class="col-md-3 col-sm-6 inner">
						<h4>Who we are</h4>
						<a href="#top" class="scroll-to"><img class="logo img-intext" src="assets/images/theiaword.svg" alt=""></a>
						<p>Theia is a unique full-service platform that connects airline passengers from around the world and facilitates seamless and cost-effective transferability of previously issued airline tickets.</p>
						<a href="#" class="txt-btn">More about us</a>
					</div><!-- /.col -->


					<div class="col-md-3 col-sm-6 inner">
						<h4>Get In Touch</h4>
						<p>Rome was not built in a day, so we keep working to improve your travelling options and experience. <br>If you have something in mind, let us know.</p>
						<ul class="contacts">
							<li><i class="icon-location contact"></i> 46 Rosemont Road, London NW3 6NE <br>United Kingdom</li>
							<li><i class="icon-mobile contact"></i> +44 (759) 552 71 49</li>
							<li><a href="mailto:info@theiapax.com"><i class="icon-mail-1 contact"></i> info@theiapax.com</a></li>
						</ul><!-- /.contacts -->
					</div><!-- /.col -->

					<div class="col-md-3 col-sm-6 inner">
						<h4>Join the community</h4>
						<p>Be part of the largest community of price-sensitive economy class passengers in the world. <br>Let us tell you what's next.</p>
						<form id="newsletter" class="form-inline newsletter" role="form">
							<label class="sr-only" for="exampleInputEmail">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
							<button type="submit" class="btn btn-default btn-submit">Join</button>
						</form>
					</div><!-- /.col -->

				</div><!-- /.row -->
			</div><!-- .container -->

			<div class="footer-bottom">
				<div class="container inner">
					<p class="pull-left">© 2016 THEIA. All rights reserved.</p>
					<ul class="footer-menu pull-right">
						<li><a href="#arepa" class="scroll-to">MarketPlace</a></li>
						<li><a href="#pizza" class="scroll-to">Mission</a></li>
						<li><a href="#pho" class="scroll-to">Vision</a></li>
						<li><a href="#chorizo" class="scroll-to">Benefits</a></li>
						<li><a href="#chilli" class="scroll-to">FAQ</a></li>
						<li><a href="#sal" class="scroll-to">Science & Stats</a></li>
						<li><a href="#pasta" class="scroll-to">Find Us</a></li>
				</ul><!-- .footer-menu -->
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>

		<!-- ============================================================= FOOTER : END ============================================================= -->


	</body>
</html>
