<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>REEN</title>

		<!-- Bootstrap Core CSS -->
		<!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->

		<!-- Customizable CSS -->
		<!-- <link href="assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
		<link href="assets/css/green.css" rel="stylesheet" title="Color">
		<link href="assets/css/owl.carousel.css" rel="stylesheet">
		<link href="assets/css/owl.transitions.css" rel="stylesheet">
		<link href="assets/css/animate.min.css" rel="stylesheet"> -->

		<!-- Fonts -->
		<!-- <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet"> -->

		<!-- Icons/Glyphs -->
		<link href="assets/fonts/fontello.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">

		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="top">

		<!-- ============================================================= HEADER ============================================================= -->

		<header>
			<div class="navbar">

				<div class="navbar-header">
					<div class="container">

						<ul class="info pull-left">
							<li><a href="#"><i class="icon-mail-1 contact"></i> info@theiapax.com</a></li>
							<li><i class="icon-mobile contact"></i> +44 (759) 552 71 49</li>
						</ul><!-- /.info -->

						<ul class="social pull-right">
							<li><a href="#"><i class="icon-s-facebook"></i></a></li>
							<li><a href="#"><i class="icon-s-gplus"></i></a></li>
							<li><a href="#"><i class="icon-s-twitter"></i></a></li>
							<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
							<li><a href="#"><i class="icon-s-behance"></i></a></li>
							<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
						</ul><!-- /.social -->

						<!-- ============================================================= LOGO MOBILE ============================================================= -->

						<a class="navbar-brand" href="#"><img src="assets/images/logo.svg" class="logo" alt=""></a>

						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

					</div><!-- /.container -->
				</div><!-- /.navbar-header -->

				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">

							<!-- ============================================================= LOGO ============================================================= -->

							<a class="navbar-brand scroll-to" href="#top"><img src="assets/images/logo.svg" class="logo" alt=""></a>

							<!-- ============================================================= LOGO : END ============================================================= -->


							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

							<ul class="nav navbar-nav pull-right">

								<li><a href="#arepa" class="scroll-to" data-anchor-offset="0">MarketPlace</a></li>
								<li><a href="#pizza" class="scroll-to" data-anchor-offset="0">Mission</a></li>
								<li><a href="#pho" class="scroll-to" data-anchor-offset="0">Vision</a></li>
								<li><a href="#chorizo" class="scroll-to" data-anchor-offset="0">Benefits</a></li>
								<li><a href="#sal" class="scroll-to" data-anchor-offset="0">Science & Stats</a></li>
								<li><a href="#chilli" class="scroll-to" data-anchor-offset="0">Q&A</a></li>
								<li><a href="#pasta" class="scroll-to" data-anchor-offset="0">Find Us</a></li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated" style="padding-right: 15px;">Features <i class="icon-down-open"></i></a>

									<ul class="dropdown-menu" style="right: auto;">

										<li><a href="slider-carousel.html">Slider/Carousel</a></li>
										<li><a href="modal.html">Modal</a></li>
										<li><a href="tab.html">Tab</a></li>
										<li><a href="accordion.html">Accordion</a></li>
										<li><a href="isotope.html">Isotope</a></li>
										<li><a href="styles.html">Styles</a></li>
										<li><a href="font-icons.html">Font Icons</a></li>
										<li><a href="backgrounds.html">Backgrounds</a></li>

										<li class="dropdown-submenu">
											<a href="#">Colors</a>

											<ul class="dropdown-menu">
												<li><a class="changecolor green" title="Green color">Green</a></li>
												<li><a class="changecolor blue" title="Blue color">Blue</a></li>
												<li><a class="changecolor red" title="Red color">Red</a></li>
												<li><a class="changecolor pink" title="Pink color">Pink</a></li>
												<li><a class="changecolor purple" title="Purple color">Purple</a></li>
												<li><a class="changecolor orange" title="Orange color">Orange</a></li>
												<li><a class="changecolor navy" title="Navy color">Navy</a></li>
												<li><a class="changecolor gray" title="Gray color">Gray</a></li>
											</ul><!-- /.dropdown-menu -->
										</li><!-- /.dropdown-submenu -->

										<li class="dropdown-submenu">
											<a href="#">Submenu Levels</a>

											<ul class="dropdown-menu">
												<li><a href="#">Second Level</a></li>
												<li><a href="#">Second Level</a></li>

												<li class="dropdown-submenu">
													<a href="#">More</a>

													<ul class="dropdown-menu">
														<li><a href="#">Third Level</a></li>
														<li><a href="#">Third Level</a></li>
													</ul><!-- /.dropdown-menu -->
												</li><!-- /.dropdown-submenu -->
											</ul><!-- /.dropdown-menu -->
										</li><!-- /.dropdown-submenu -->

									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated" style="padding-right: 15px;">One Page <i class="icon-down-open"></i></a>

									<ul class="dropdown-menu">
										<li><a href="one-page1.html">Product Style</a></li>
										<li><a href="one-page2.html">Service Style</a></li>
										<li><a href="one-page3.html">Agency Style</a></li>
										<li><a href="one-page4.html">Portfolio Style</a></li>
										<li><a href="one-page5.html">Showcase Style</a></li>
										<li><a href="index.html">Multi Page</a></li>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

							</ul><!-- /.nav -->

							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>

		<!-- ============================================================= HEADER : END ============================================================= -->


		<!-- ============================================================= MAIN ============================================================= -->

		<main>

			<!-- ============================================================= SECTION – HERO ============================================================= -->

			<section id="hero">
				<div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

					<div class="item" style="background-image: url(assets/images/art/slider01.jpg);">
						<div class="container">
							<div class="caption vertical-center text-center">

								<h1 class="fadeInDown-1 light-color">OK listen up, there's been a change of plans</h1>
								<p class="fadeInDown-2 medium-color">Travelling involves adventure, excitment and uncertainty. <br>If plans change, we'll help you get cash for your air ticket.</p>
								<div class="fadeInDown-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

					<div class="item" style="background-image: url(assets/images/art/slider02.jpg);">
						<div class="container">
							<div class="caption vertical-center text-right">

								<h1 class="fadeInLeft-1 light-color">Plans Change, <br>We Get It... Why Don't They?</h1>
								<p class="fadeInLeft-2 light-color">No need to explain what happened. <br>Whatever it's your reason, we'll help you get the maximium possible cash for your ticket.</p>
								<div class="fadeInLeft-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

					<div class="item" style="background-image: url(assets/images/art/slider03.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">

								<h1 class="fadeInRight-1 dark-bg light-color"><span>Clean and <br>reusable code</span></h1>
								<p class="fadeInRight-2 dark-color">The clean code allows you to easily copy code blocks from content <br>modules and past them in different places or layouts.</p>
								<div class="fadeInRight-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

					<div class="item" style="background-image: url(assets/images/art/slider04.jpg);">
						<div class="container">
							<div class="caption vertical-top text-right">

								<h1 class="fadeIn-1 dark-bg light-color"><span>Just focus on <br>your creativity</span></h1>
								<p class="fadeIn-2 light-color">Take a break from messing around with heavy coding and spend <br>your time brainstorming ideas for your next project.</p>
								<div class="fadeIn-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

					<div class="item" style="background-image: url(assets/images/art/slider05.jpg);">
						<div class="container">
							<div class="caption vertical-top text-center">

								<h1 class="fadeInDown-1 light-color">Showcase <br>your content</h1>
								<p class="fadeInDown-2 medium-color">With REEN you have the possibility to create websites for various <br>contents quickly and easily. Now it's up to you!</p>
								<div class="fadeInDown-3">
									<a href="#" class="btn btn-large">Get started now</a>
								</div><!-- /.fadeIn -->

							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</section>

			<!-- ============================================================= SECTION – HERO : END ============================================================= -->


			<!-- ============================================================= SECTION – MARKETPLACE ============================================================= -->

			<section id="arepa">
				<div class="container inner">

					<div class="row">

						<div class="col-sm-6 inner-right-xs text-right">
							<figure><a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/product01.jpg" alt=""></a></figure>
						</div><!-- /.col -->

						<div class="col-sm-6 inner-top-xs inner-left-xs">
							<h2>Booking economy no longer means booking with restrictions</h2>
							<p>Theia is a marketplace for previously issued air tickets.</p>
							<p>We connect price-sensitive air passengers and facilitate the efficient reassignment of tickets issued by participating airlines.</p>
							<a href="#modal-product01" class="txt-btn" data-toggle="modal">Check out how Theia works</a>
						</div><!-- /.col -->

					</div><!-- /.row -->

					<div class="row inner-top-md">

						<div class="col-sm-6 col-sm-push-6 inner-left-xs">
							<figure><a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/product02.jpg" alt=""></a></figure>
						</div><!-- /.col -->

						<div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
							<h2>Can't or don't want to fly on that particular booking?</h2>
							<p>Booked passengers that are not able to travel due to unforeseen events, or simply decide not to travel, can sell their tickets on the platform, recovering a significant proportion of the value paid for the original ticket and airline fees, in cash.</p>
							<a href="#modal-product01" class="txt-btn" data-toggle="modal">Check out how Theia works</a>
						</div><!-- /.col -->

					</div><!-- /.row -->

					<div class="row inner-top-md">

						<div class="col-sm-6 inner-right-xs text-right">
							<figure><a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/product03.jpg" alt=""></a></figure>
						</div><!-- /.col -->

						<div class="col-sm-6 inner-top-xs inner-left-xs">
							<h2>Looking for cheaper air tickets?</h2>
							<p>Passengers using the platform are able to buy previously issued air tickets at a discount to the current airfare.</p>
							<p>Because they buy pre-owned tickets, they buy them cheaper, always.</p>
							<a href="#modal-product01" class="txt-btn" data-toggle="modal">Check out how Theia works</a>
						</div><!-- /.col -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – MARKETPLACE : END ============================================================= -->


			<!-- ============================================================= SECTION – MISSION ============================================================= -->

			<section id="pizza" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
				<div class="container inner">

					<div class="row">
						<div class="col-md-8 col-sm-9">
							<header>
								<h1>Generating savings and extra cash for air passengers</h1>
								<p>We are here to connect airline passengers from around the world and facilitate seamless and cost-effective transferability of previously issued airline tickets.</p>
						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – MISSION : END ============================================================= -->


			<!-- ============================================================= SECTION – VISION ============================================================= -->

			<section id="pho" class="inner-bottom">
				<div class="container inner light-bg">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>10th freedom of the air: <br>Passenger Freedom</h1>
								<p>Our vision is a world where free efficient markets allow passengers to choose what they want to do with their airline tickets. Theia will help them do exactly that. <br> <br>We will enable a world with more, and more frequent, happy travellers.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – VISION : END ============================================================= -->


			<!-- ============================================================= SECTION – BENEFITS ============================================================= -->

			<section id="chorizo">
				<div class="container inner">

					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>With great power <br>comes great responsibility</h1>
								<p>An exchange platform created for everyone.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->

					<div class="row inner-top-sm">
						<div class="col-xs-12">
							<div class="tabs tabs-reasons tabs-circle-top tab-container">

								<ul class="etabs text-center">
									<li class="tab"><a href="#tab-1"><div>T</div>Travellers</a></li>
									<li class="tab"><a href="#tab-2"><div>H</div>Hunters</a></li>
									<li class="tab"><a href="#tab-3"><div>E</div>Entrepreneurs</a></li>
									<li class="tab"><a href="#tab-4"><div>I</div>Industry</a></li>
									<li class="tab"><a href="#tab-5"><div>A</div>Airlines</a></li>
								</ul><!-- /.etabs -->

								<div class="panel-container">

									<div class="tab-content" id="tab-1">
										<div class="row">

									<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
										<figure><img src="assets/images/art/product06.jpg" alt=""></figure>
											</div><!-- /.col -->

											<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
												<h3>Original passenger</h3>
												<p>Changing an economy class ticket, costs between 39% and 290% more than the ticket itself. This makes booking stressful. You want to book in advance and get a good price, but things may change down the line and you may not be able to fly. <br>Don't worry, now you can book a flight well in advance with your trusted airline, lock in a great fare and if things do change, sell your ticket here on Theia.</p>
											</div><!-- /.col -->

											<div class="col-md-3 col-sm-6 inner-top-xs">
												<h3>Surrogate passenger</h3>
												<p>In the digital ecosystem we live in, you can buy and sell second-hand items like cars, guitars, furniture, etc. Well, here on Theia you can find second-hand air tickets that are sold at a discount to the current airfare. <br>Are you a flexible traveller? Go on, find out your next destination and travel away... at a fraction of the price.</p>
											</div><!-- /.col -->

										</div><!-- /.row -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-2">
										<div class="row">

											<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
												<figure><img src="assets/images/art/product05.jpg" alt=""></figure>
											</div><!-- /.col -->

											<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
												<h3>Yeap, that's you</h3>
												<p>The one hunting for gigs, events, unseen lansdcapes, warmer saturdays, higher mountains, louder music or peaceful shores. <br>How frustrating is it that you find a great deal on some event or location and then the airfare is out of reach? <br>Not anymore, Theia will give you access to the cheapest airfare to wherever you're going.</p>
											</div><!-- /.col -->

										</div><!-- /.row -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-3">
										<div class="row">

											<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
												<figure><img src="assets/images/art/product04.jpg" alt=""></figure>
											</div><!-- /.col -->

											<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
												<h3>Every little helps</h3>
												<p>You're running your own business, you're always on a budget, and every time a sales pitch or a meeting out of town is postponed or cancelled, well, it hurts. <br>Now you can recover a significant part of the value of the ticket without having to pay for premium or business class. <br>We give you that optionality here on Theia... with your same economy ticket.</p>
											</div><!-- /.col -->

										</div><!-- /.row -->
									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-4">
										<div class="row">

											<div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
												<figure><img src="assets/images/art/product03.jpg" alt=""></figure>
											</div><!-- /.col -->
										</div><!-- /.row -->

										<div class="row">
											<div class="col-sm-8 center-block text-center inner-top-xs">
												<h3>Together we stand</h3>
												<p>Since every penny not paid to fly will be used to eat, drink, dance, jump, sit, dive, view, drive, or simply sleep better, there is a plethora of industries that are bound to benefit from passengers saving money on the exchange; like hospitality, car rentals, restaurants, events, etc.</p>
											</div><!-- /.col -->
										</div><!-- /.row -->

									</div><!-- /.tab-content -->

									<div class="tab-content" id="tab-5">
										<div class="row">
											<div class="col-md-8 col-sm-9 center-block text-center">
												<h3>Engage loyal passengers that are happy to book with you</h3>
												<p>Studies indicate that advance ticket selling with partial refunds would increase an airline’s total revenue, compared to selling non-refundable tickets. <br>The optionality created by ticket transferability on Theia would induce early demand for tickets, allow earlier revenue collection and improve visibility on load factors. <br>Airline's expected cashflow per ticket sold increases by 8%, via ancillary revenue.</p>
											</div><!-- /.col -->
										</div><!-- /.row -->
									</div><!-- /.tab-content -->

								</div><!-- /.panel-container -->

							</div><!-- /.tabs -->
						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – BENEFITS : END ============================================================= -->


			<!-- ============================================================= SECTION – SCIENCE & STATS ============================================================= -->

			<section id="sal" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
				<div class="container inner">

					<div class="row">
						<div class="col-md-8 col-sm-9">
							<header>
								<h1>Let data guide your decision</h1>
								<p>Innovation in multisided markets and slow progress in the airline industry have made possible to create Theia. <br>Want to know why the status quo is no longer acceptable?</p>
								<div class="fadeInDown-3">
									<a href="#" class="btn btn-large">Show me</a>
								</div><!-- /.fadeIn -->

						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – SCIENCE & STATS : END ============================================================= -->


			<!-- ============================================================= SECTION – Q&A ============================================================= -->

			<section id="chilli" class="inner-bottom">
				<div class="container inner light-bg">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Got any questions?</h1>
								<p>Let us show you the most common questions about transferability and the service provided by the platform. If your question is not here, or not answered to your satisfaction, feel free to get in touch.</p>
							</header>
							<a href="#modal-contact01" class="btn btn-large" data-toggle="modal">Q&A</a>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – Q&A : END ============================================================= -->


			<!-- ============================================================= SECTION – FIND US ============================================================= -->

						<section id="pasta" class="inner-bottom">
							<div class="container inner light-bg">
								<div class="row">
									<div class="col-md-8 col-sm-9 center-block text-center">
										<header>
											<h1>Let us know what you think... or if you want to work with us</h1>
											<p>We built Theia for you, so if you think there's something missing let us know, or just stop by and say hello.</p>
										</header>
										<a href="#modal-contact01" class="btn btn-large" data-toggle="modal">Get in touch</a>
									</div><!-- /.col -->
								</div><!-- /.row -->
							</div><!-- /.container -->
						</section>

			<!-- ============================================================= SECTION – FIND US : END ============================================================= -->


			<!-- ============================================================= MODALS ============================================================= -->


			<!-- ============================================================= MODAL PRODUCT01 ============================================================= -->

			<div class="modal fade" id="modal-product01" tabindex="-1" role="dialog" aria-labelledby="modal-product01" aria-hidden="true">
				<div class="modal-dialog modal-full">
					<div class="modal-content dark-bg img-bg img-bg-softer no-modal-header no-modal-footer" style="background-image: url(assets/images/art/work14-lg.jpg);">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-product01">Product information</h4>
						</div><!-- /.modal-header -->

						<!-- ============================================================= MODAL CONTENT ============================================================= -->

						<div class="modal-body">

							<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

							<section id="portfolio-post">
								<div class="container inner-top-sm inner-bottom">

									<div class="row">
										<div class="col-sm-12">
											<div class="video-container">
												<iframe src="http://player.vimeo.com/video/44920080?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
											</div>
										</div><!-- /.col -->
									</div><!-- /.row -->

									<div class="row inner-top-xs reset-xs">

										<div class="col-sm-7 inner-top-xs inner-right-xs">
											<header>
												<h2>Win-Win (All figures are real)</h2>
												<p class="text-normal">Paula paid £237.85 to fly from Bordeaux to Tenerife with Spanish airline Volotea. Now she has to cancel the trip. If Paula decides to fly at some later date, she will have to pay £85.97 in airline fees (36% additional cost). Paula is likely to let the ticket expire (now or later), losing £237.85.</p>
												<p class="text-normal">But she now posts the ticket on Theia and finds Alex, who is willing to pay pay £239.86 for Paula’s ticket (airfare has gone up to £266.51 since Paula booked it). Paula sells the ticket and recovers 67% of the original ticket and fees, after transaction costs... and Alex bought it at a 10% discount to the current airline price.</p>
												<p class="text-normal">Alex is now the passenger on record and travels like any other passenger. Paula has been refunded so she can spend the money as she wishes, without restrictions. Win-Win</p>
											</header>
										</div><!-- /.col -->

										<div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
											<ul class="item-details">
												<li class="date">June 12, 2015</li>
												<li class="categories">Motion graphics</li>
												<li class="client">Mobile company</li>
												<li class="url"><a href="http://demo.fuviz.com/reen">demo.fuviz.com/reen</a></li>
											</ul><!-- /.item-details -->
										</div><!-- /.col -->

									</div><!-- /.row -->

								</div><!-- /.container -->

							</section>

							<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->


							<!-- ============================================================= SECTION – SHARE ============================================================= -->

							<section id="share" class="light-bg">
								<div class="container">

									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Facebook</p>
											<i class="icon-s-facebook"></i>
											<p class="counter">1080</p>
										</a>
									</div><!-- /.col -->

									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Twitter</p>
											<i class="icon-s-twitter"></i>
											<p class="counter">1263</p>
										</a>
									</div><!-- /.col -->

									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Google +</p>
											<i class="icon-s-gplus"></i>
											<p class="counter">963</p>
										</a>
									</div><!-- /.col -->

								</div><!-- /.container -->
							</section>

							<!-- ============================================================= SECTION – SHARE : END ============================================================= -->

						</div><!-- /.modal-body -->

						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- ============================================================= MODAL PRODUCT01 : END ============================================================= -->


			<!-- ============================================================= MODAL CONTACT01 ============================================================= -->

			<div class="modal fade" id="modal-contact01" tabindex="-1" role="dialog" aria-labelledby="modal-contact01" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-contact01">Get in touch</h4>
						</div><!-- /.modal-header -->

						<!-- ============================================================= MODAL CONTENT ============================================================= -->

						<div class="modal-body">

							<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

							<section id="contact-form">
								<div class="container inner-top-xs inner-bottom">

									<div class="row">
										<div class="col-md-8 col-sm-9 center-block text-center">
											<header>
												<h1>Get in touch</h1>
												<p>Don't be a stranger</p>
											</header>
										</div><!-- /.col -->
									</div><!-- /.row -->

									<div class="row">
										<div class="col-sm-12">
											<div class="row">

												<div class="col-sm-6 outer-top-md inner-right-sm">

													<h2>Leave a Message</h2>

													<form id="contactform" class="forms" action="contact.php" method="post">

														<div class="row">
															<div class="col-sm-6">
																<input type="text" name="name" class="form-control" placeholder="Name (Required)">
															</div><!-- /.col -->
														</div><!-- /.row -->

														<div class="row">
															<div class="col-sm-6">
																<input type="email" name="email" class="form-control" placeholder="Email (Required)">
															</div><!-- /.col -->
														</div><!-- /.row -->

														<div class="row">
															<div class="col-sm-6">
																<input type="text" name="subject" class="form-control" placeholder="Subject">
															</div><!-- /.col -->
														</div><!-- /.row -->

														<div class="row">
															<div class="col-sm-12">
																<textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
															</div><!-- /.col -->
														</div><!-- /.row -->

														<button type="submit" class="btn btn-default btn-submit">Submit message</button>

													</form>

													<div id="response"></div>

												</div><!-- ./col -->

												<div class="col-sm-6 outer-top-md inner-left-sm border-left">

													<h2>Contacts</h2>
													<p>Rome was not built in a day, so we keep working to improve your travelling options and experience. <br>If you have something in mind, let us know.</p>

													<h3>THEIA (Member of Arqueopolis Ltd)</h3>
													<ul class="contacts">
														<li><i class="icon-location contact"></i> 46 Rosemont Road, London, NW3 6NE, United Kingdom</li>
														<li><i class="icon-mobile contact"></i> +44 (759) 552 71 49</li>
														<li><a href="mailto:info@theiapax.com"><i class="icon-mail-1 contact"></i> info@theiapax.com</a></li>
													</ul><!-- /.contacts -->

													<div class="social-network">
														<h3>Social</h3>
														<ul class="social">
															<li><a href="#"><i class="icon-s-facebook"></i></a></li>
															<li><a href="#"><i class="icon-s-gplus"></i></a></li>
															<li><a href="#"><i class="icon-s-twitter"></i></a></li>
															<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
															<li><a href="#"><i class="icon-s-behance"></i></a></li>
															<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
														</ul><!-- /.social -->
													</div><!-- /.social-network -->

												</div><!-- /.col -->

											</div><!-- /.row -->
										</div><!-- /.col -->
									</div><!-- /.row -->

								</div><!-- /.container -->
							</section>

							<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->


							<!-- ============================================================= SECTION – MAP ============================================================= -->

							<section id="map" class="height-sm"></section>

							<!-- ============================================================= SECTION – MAP : END ============================================================= -->

						</div><!-- /.modal-body -->

						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- ============================================================= MODAL CONTACT01 : END ============================================================= -->


			<!-- ============================================================= MODALS : END ============================================================= -->

		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->


		<!-- ============================================================= FOOTER ============================================================= -->

		<footer class="dark-bg">
			<div class="container inner">
				<div class="row">

					<div class="col-md-3 col-sm-6 inner">
						<h4>Who we are</h4>
						<a href="#top" class="scroll-to"><img class="logo img-intext" src="assets/images/logo-white.svg" alt=""></a>
						<p>Theia is a unique full-service platform that connects airline passengers from around the world and facilitates seamless and cost-effective transferability of previously issued airline tickets.</p>
						<a href="#" class="txt-btn">More about us</a>
					</div><!-- /.col -->

					<div class="col-md-3 col-sm-6 inner">
						<h4>Product Videos</h4>

						<div class="row thumbs gap-xs">

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work02.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work03.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work07.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="#modal-product01" data-toggle="modal"><img src="assets/images/art/work01.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

						</div><!-- /.row -->
					</div><!-- /.col -->


					<div class="col-md-3 col-sm-6 inner">
						<h4>Get In Touch</h4>
						<p>Rome was not built in a day, so we keep working to improve your travelling options and experience. <br>If you have something in mind, let us know.</p>
						<ul class="contacts">
							<li><i class="icon-location contact"></i> 46 Rosemont Road, London, NW3 6NE, United Kingdom</li>
							<li><i class="icon-mobile contact"></i> +44 (759) 552 71 49</li>
							<li><a href="mailto:info@theiapax.com"><i class="icon-mail-1 contact"></i> info@theiapax.com</a></li>
						</ul><!-- /.contacts -->
					</div><!-- /.col -->

					<div class="col-md-3 col-sm-6 inner">
						<h4>Join the community</h4>
						<p>Be part of the largest community of price-sensitive economy class passengers in the world. <br>Let us tell you what's next.</p>
						<form id="newsletter" class="form-inline newsletter" role="form">
							<label class="sr-only" for="exampleInputEmail">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
							<button type="submit" class="btn btn-default btn-submit">Join</button>
						</form>
					</div><!-- /.col -->

				</div><!-- /.row -->
			</div><!-- .container -->

			<div class="footer-bottom">
				<div class="container inner">
					<p class="pull-left">© 2016 THEIA. All rights reserved.</p>
					<ul class="footer-menu pull-right">
						<li><a href="#arepa" class="scroll-to">MarketPlace</a></li>
						<li><a href="#pizza" class="scroll-to">Mission</a></li>
						<li><a href="#pho" class="scroll-to">Vision</a></li>
						<li><a href="#chorizo" class="scroll-to">Benefits</a></li>
						<li><a href="#sal" class="scroll-to">Science & Stats</a></li>
						<li><a href="#chilli" class="scroll-to">Q&A</a></li>
						<li><a href="#pasta" class="scroll-to">Find Us</a></li>
				</ul><!-- .footer-menu -->
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>

		<!-- ============================================================= FOOTER : END ============================================================= -->


	</body>
</html>
